.map {
    width: 100%;
    margin: auto;
    border-radius: 0.6rem;
}

.state-info-popup {
    position: absolute;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.3rem;
    padding: 1rem;
    max-width: 500px;
}

.state-info-popup li {
    display: list-item;
    text-align: left;
    font-size: 0.7rem;
    list-style-type: disc;
}

.state-info-popup ul {
    padding-left: 0.7rem;
}

.state-path[data-state="Alaska"] {
    transform: scale(0.7) translate(22%, 25%);
}

.state-path[data-state="Hawaii"] {
    transform: translate(20%, -2%);
}