#sources .accordion p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
} 

#sources a{
    color:rgb(21, 0, 212);
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
  }
  #sources {
    margin-top: 10px;
    color: black;
  }
body{
    display:flex;
    flex-direction: column;
}