.accordion {
    list-style-type: none;
    background-color: #0a652e;
}

.accordion-title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 8px;
    color: white;
}

.accordion-title > * {
    user-select: none;
}

.accordion-title span {
    font-size: 25px;
}

.accordion-content {
    /*Timberwolf: #D6C9C9
      Beige: #DCE2C8
      #b1ccb1
      
    */
    background-color: #b1ccb1;
    text-align: left;
    display: block;
    overflow: hidden;
    transition: height 0.5s ease;
}

.accordion-content * {
    user-select: none;
    color: black;
}

.accordion-content .padder {
    padding: 6px;
}

.accordion-content p {
    display: inline;
}

@media screen and (max-width: 768px) {
    .content a {
        font-size: 18px;
    }
    #main {
        grid-template-columns: 1fr;
        min-height: 70vh;
    }
}
