.leaf-reveal {
    position: relative;

    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
}

.leaf-reveal-content {
    padding: 1rem;
}

@media screen and (max-width: 1000px) {
    .leaf-reveal {
        border: 2px solid green;
        border-radius: 1rem;
    }

    .leaf-img, .side-leaf {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .leaf-reveal {
        padding-top: var(--down-scroll);
    }

    .leaf-reveal-content {
        --left-shift: 10%;
    
        width: 50%;
        
        text-align: left;
    
        position: relative;
        float: left;
    
        border-right: 1px solid green;
    
        animation: shift-content 1s;
        animation-fill-mode: forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--progress) * -1s);
    }

    .leaf-img {
        --width: 25%;
        --right-shift: -55%;
    
        width: var(--width);
        position: relative;
    
        top: calc(-1 * (var(--width) + 200px));
    
        animation: shift-leaf 1s;
        animation-fill-mode: forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--progress) * -1s);
    }

    .side-leaf:first-child {
        --width: 15%;

        position: relative;

        width: var(--width);
        scale: -1 1;

        animation: side-leaf-1 1s;
        animation-fill-mode: forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--progress) * -1s);
    }
}


.leaf-reveal-content-bottom {
    content: "";
    display: table;
    clear: both;
}

@keyframes shift-content {
    0% {
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        left: 25%;
        transform: translateX(-50%);
        opacity: 1;
    }
}

@keyframes shift-leaf {
    0% {
        transform: translate(-100%, 0) rotate(0deg);
    }
    100% {
        transform: translate(var(--right-shift), -10%) rotate(20deg);
    }
}

@keyframes side-leaf-1 {
    0% {
        left: calc(-1.58 * var(--width));
        top: -0.5px;
    }
    100% {
        left: -30%;
        transform: rotate(20deg);
        opacity: 0;
    }
}