.map {
    width: 100%;
    margin: auto;
    border-radius: 0.6rem;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.state-info-popup {
    position: absolute;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.3rem;
    padding: 1rem;
    max-width: 500px;
}

.state-info-popup li {
    display: list-item;
    text-align: left;
    font-size: 0.7rem;
    list-style-type: disc;
}

.state-info-popup ul {
    padding-left: 0.7rem;
}

.state-path {
    --stroke-width: 0.2;
    transform: translate(-52%, -60%) scale(1.5);
    stroke-width: calc(var(--stroke-width) / 1.5);
}

.state-path[data-state="Alaska"] {
    transform: translate(17%, 72%) scale(0.55, 0.85);
    stroke-width: calc(var(--stroke-width) / 0.85);
}

.state-path[data-state="Hawaii"] {
    transform: translate(25%, -44%) scale(1.3);
    stroke-width: calc(var(--stroke-width) / 1.3);
}

.state-path[data-state="Puerto Rico"], .state-path[data-state="U.S. Virgin Islands"] {
    transform: translate(-95%, -105%) scale(1.8);
    stroke-width: calc(var(--stroke-width) / 1.8);
}

.state-path[data-state="District of Columbia"] {
    transform: scale(4.4) translate(-76.43%, -66.44%);
    stroke-width: calc(var(--stroke-width) / 4.4)
}
