:root {
    font-size: 20px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home-container h1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
    padding-left: 2re m;
    padding-right: 2rem;
}

h1 {
    border-bottom: 4px solid green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

path.no-fill {
    fill: none;
}

.container {
    text-align: center;
    margin: auto;
    background-color: white;
    padding: 2rem;
    width: min(1000px, 100%);
}

.container:has(.home-container) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

p {
    text-align: left;
    margin-top: 0;
}

.bold {
    font-weight: 600;
}

.left-align {
    text-align: left;
}

.page-subheading {
    margin-top: 2rem;
}

.left-side-image, .right-side-image {
  border: 16px solid black;
  position: relative;
  opacity: 0;
}

.left-side-image {
  border-radius: 0 9999px 9999px 0;
  border-left: 0;

  left: -100%;
  animation: come-in-left 1s cubic-bezier(0.33, 1, 0.68, 1) forwards, fade-in 1s linear forwards;
}

.right-side-image {
  border-radius: 9999px 0 0 9999px;
  border-right: 0;

  right: -100%;
  animation: come-in-right 1s cubic-bezier(0.33, 1, 0.68, 1) forwards, fade-in 1s linear forwards;
}

@keyframes come-in-left {
  to {
    left: 0;
  }
}

@keyframes come-in-right {
  to {
    right: 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.side-heading {
  display: block;
  font-size: 3rem;
  margin-bottom: 1rem;
}

button {
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 3rem;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    animation: wiggle 1s;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-2deg);
    }
    60% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}